*{
    margin: 0;
    padding: 0;
}

.contenedores{
    width: auto;
    height: auto;
    background-color: gray;
    margin-top: 50px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedores div{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid pink;
    margin: 20px;  
    font-size: 70px;
    text-align: center;
}

.titulo{
    text-align: center;
    color: gray;
    margin: top;
}

section{
width: 1300px;
margin:auto;
}

item{
width: 150px;
height: 150px;
}
